@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
    background: #e9e9e9;
    color: #ed2553;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    padding-top: 5em;
}
h1 {
    color: #ed2553;
    border-left: .2em solid #ed2553;
    padding-left: 1em;
}
.contain-login {
    width: 320px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1em 0 3em 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(133,133,133,0.66);
    -moz-box-shadow: 0 1px 3px 0 rgba(133,133,133,0.66);
    box-shadow: 0 1px 3px 0 rgba(133,133,133,0.66);
}
.containFormLogin {
  display: flex;
    justify-content: center;
}
.formdiv {
    margin-top: 1em;
    position: relative;
}
label {
    font-size: 1em;
    color: #9d9d9d;
    text-transform: uppercase;
}
input {
    border: none;
    border-bottom: 1px solid #9d9d9d;
    margin-top: .5em;
    outline: none;
    font-family: 'Mulish', sans-serif;
}
input::-webkit-input-placeholder {
    color: #9d9d9d;
    font-family: 'Mulish', sans-serif;
}
input:-ms-input-placeholder {
    color: #9d9d9d;
    font-family: 'Mulish', sans-serif;
}
input::placeholder {
    color: #9d9d9d;
    font-family: 'Mulish', sans-serif;
}

.contain-btn {
    text-align: center;
}
.btnpass {
    background-color: #ed2553;
    border: 1px solid #ed2553;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: .9em;
    color: #fff;
    width: 100%;
    padding: .5em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    cursor: pointer;
}

.btnpass:hover {
    background-color: #fff;
    border: 1px solid #ed2553;
    color: #ed2553;
}

#icon {
    position: absolute;
    right: 0;
    cursor: pointer;
}

